<h1>Sign In</h1>
<div id='flash' class='error'>
  <%= flash[:error] %>
</div><br><br>
<%= form_for @user, url: "/signin" do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %><br><br>

  <%= f.label :password %>
  <%= f.password_field :password %><br><br>

  <%= f.submit "Sign In" %>
<% end %>
<br><br>
<%= link_to 'Go Back', root_url %>
