<center>
<h3 style="color: #F8F9FA">Welcome to <%= @artist.name %>'s Profile<br>_____________</h3>
<br>
<div class="card" style="width: 600px">
  <div class="card-body">
  	<h5 class="card-title text-left">About <%= @artist.name %>:</h5>
  	<p class="card-text text-left"><%= @artist.extra %></p>

<% if @client %>
<div class="btn btn-warning btn-sm">
  <%= link_to "Back to Profile", client_path(@client), :class => "btn btn-sm", :id => "go_back" %>
</div>
<div class="btn btn-warning btn-sm">
<%= link_to "Create New Appointment", new_client_appointment_path(@client), :class => "btn btn-sm", :id => "new_apppointment" %>
</div>

<% elsif @current_artist %>
<div class="btn btn-warning btn-sm">
  <%= link_to "Edit Profile", edit_artist_path(@current_artist), :class => "btn btn-sm", :id => "edit_profile" %>
</div>

<% else %>
<div class="btn btn-warning btn-sm">
  <%= link_to "Go Back", artist_path(@other_artist), :class => "btn btn-sm", :id => "go_back" %>
</div>
<% end %>