<h1> Welcome to <%= @artist.name %>'s page!</h1>

About <%= @artist.name %>:<br>
<%= @artist.extra %><br>
<br>

<% if @client %>
<button id="go_back"><%= link_to "Go back", client_path(@client) %></button>

<% elsif @current_artist %>
<button id="edit_profile"><%= link_to "Edit Profile", edit_artist_path(@current_artist) %></button>
<br><br>
<button id="view_apps"><%= link_to "View Appointments", appointments_path %></button><br><br>
<button id="sign_out"><%= link_to "Sign Out", signout_path, method: :delete %></button>

<% else %>
<button id="go_back"><%= link_to "Go back", artist_path(@other_artist) %></button>
<% end %>
<br><br>
