<center>
<h3 style="color: #F8F9FA">Welcome to <%= @client.name %>'s Profile<br>_____________</h3>

<div id='flash' class='error'>
  <%= flash[:error] %>
</div>
<div id='flash' class='notice'>
  <%= flash[:notice] %>
</div><br>

<div class="card" style="width: 600px">
  <div class="card-body">
    <img width="200" src="<%= @client.extra %>"><hr>
    <% if @client == @user %>
    <div class="btn btn-warning btn-sm">
      <%= link_to "Edit Profile", edit_client_path(@client), :class => "btn btn-sm", :id => "edit_profile" %>
    </div>
    <div class="btn btn-warning btn-sm">
      <%= link_to "Create New Appointment", new_client_appointment_path(@client), :class => "btn btn-sm", :id => "new_apppointment" %>
    </div>
    <% else %>
    <div class="btn btn-warning btn-sm">
      <%= link_to "Go Back", appointments_path, :class => "btn btn-sm", :id => "artist_apps" %>
    </div>
    <% end %>
  </div>
</center>
