<h1><%= @client.name %>'s Profile Page</h1>
<div id='flash' class='error'>
  <%= flash[:error] %>
</div>
<div id='flash' class='notice'>
  <%= flash[:notice] %>
</div><br>

<img width="200" src="<%= @client.extra %>"><br><br>
<button id="edit_profile"><%= link_to "Edit Profile", edit_client_path(@client) %></button>
<br><br>
<% if @client == @user %>
<table class="table">
  <thead>
    <tr>
      <th>Appointment Date and Time</th>
      <th>Makeup Artist</th>
      <th>Details</th>
    </tr>
  </thead>
  <% @apps.each do |app| %>
  <tbody>
    <tr>
      <td id="app_date"><%= app.date_time.strftime("%A, %b %d, %Y at %l:%M %p") %></td>
      <td id="app_artist"><%= link_to "#{app.artist.name}", artist_path(app.artist) %></td>
      <td id="app_details"><%= link_to "Click Here", client_appointment_path(@client, app) %></td>
    </tr>
  </tbody>
  <% end %>
</table><br>

<button id="new_apppointment"><%= link_to "New Appointment", new_client_appointment_path(@client) %></button>
<br><br>
<br><br>
<% else %>
<button id="artist_apps"><%= link_to "Go Back", appointments_path %></button>
<% end %>
