<h1><%= @client.name %>'s Profile Page</h1>
<div id='flash' class='error'>
  <%= flash[:error] %>
</div>
<div id='flash' class='notice'>
  <%= flash[:notice] %>
</div><br>

<img width="200" src="<%= @client.extra %>"><br><br>

<% if @client == @user %>
<table border="1">
  <tr>
    <th>Appointment Date and Time</th>
    <th>Makeup Artist</th>
    <th>Details</th>
  </tr>
  <% @client.appointments.each do |app| %>
  <tr>
    <td align="center"><%= app.date_time.strftime("%A, %b %d, %Y at %l:%M %p") %></td>
    <td align="center"><%= app.artist.name %></td>
    <td align="center"><%= link_to "Click Here", client_appointment_path(@client, app) %></td>
  </tr>
  <% end %>
</table><br>

<%= link_to "Click here", new_client_appointment_path(@client) %> to create a new appointment.
<br><br>
<%= link_to "Sign Out", signout_path, method: :delete %>
<% else %>
Go back to my <%= link_to "appointments", appointments_path %>
<% end %>
