<center>
<h3 style="color: #F8F9FA"><%= @client.name %>'s Profile<br>_____________</h3>
<div id='flash' class='error'>
  <%= flash[:error] %>
</div>
<div id='flash' class='notice'>
  <%= flash[:notice] %>
</div><br>

<img width="200" src="<%= @client.extra %>"><br><br>

  <% if @client == @user %>
    <div class="btn btn-light btn-sm">
      <%= link_to "Edit Profile", edit_client_path(@client), :class => "btn btn-sm", :id => "edit_profile" %>
    </div>
    <br><br>
    <div class="card" style="width: 800px">
      <div class="card-body">
        <table class="table table-bordered">
          <thead class="thead-light">
          <tr>
            <th>Appointment Date and Time</th>
            <th>Makeup Artist</th>
            <th>Details</th>
          </tr>
          </thead>
        <% @apps.each do |app| %>
        <tbody>
          <tr>
            <td id="app_date"><%= app.date_time.strftime("%A, %b %d, %Y at %l:%M %p") %></td>
            <td id="app_artist"><%= link_to "#{app.artist.name}", artist_path(app.artist) %></td>
            <td id="app_details"><%= link_to "Click Here", client_appointment_path(@client, app) %></td>
          </tr>
        </tbody>
      <% end %>
      </table>
      <div class="btn btn-warning btn-sm">
      <%= link_to "Create New Appointment", new_client_appointment_path(@client), :class => "btn btn-sm", :id => "new_apppointment" %>
      </div>
    </div>
  </div>
<% else %>
<div class="btn btn-warning btn-sm">
    <%= link_to "Go Back", appointments_path, :class => "btn btn-sm", :id => "artist_apps" %>
</div>
<% end %>

</center>
