<center><h1>Welcome to Makeup by Yuna!</h1>
<img src="https://i.imgur.com/Ths9xXx.jpg">
<!-- <h3>Sign up as a Client using <%= link_to "email", new_client_path %> or <%= link_to "Facebook", '/auth/facebook' %>.<br>
Already have an account? Sign in using <%= link_to "email", signin_path %> or <%= link_to "Facebook", '/auth/facebook' %><br>

Sign up as a <%= link_to "Makeup Artist", new_artist_path %> using email only.<br> -->
</center>
