<%= render '/layouts/navbar_signedin' %>

<h1>Appointments for <%= @artist.name %></h1>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Client Name</th>
      <th>Appointment Date</th>
      <th>Details</th>
    </tr>
  </thead>
    <% @apps.each do |app| %>
    <tbody>
      <tr>
        <td><%= link_to "#{app.client.name}", client_path(app.client_id) %>
        <td><%= app.date_time.strftime("%A, %b %d, %Y at %l:%M %p") %></td>
        <td><%= link_to "Click Here", client_appointment_path(app.client_id, app) %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
  <br><br>
  Go to your <%= link_to "Profile page", artist_path(@artist) %>
