<center>
<h5 style="color: #F8F9FA">APPOINTMENT DETAILS<br>_____________</h5>
<br>
<div class="card" style="width: 600px">
  <div class="card-body text-left">
	<ul class="list-group">
	  <li class="list-group-item">
		<h5 class="list-group-item-heading">Date and Time:</h5> 
		<%= @app.date_time.strftime("%A, %b %d, %Y at %l:%M %p") %>
	  </li>
	  <li class="list-group-item">
		<h5 class="list-group-item-heading">Type of Service:</h5>
		<%= @app.service %>
	  </li>
	  <li class="list-group-item">
		<h5 class="list-group-item-heading">Makeup Artist Name:</h5>
		<%= @app.artist.name %>
	  </li>
	  <li class="list-group-item">
		<h5 class="list-group-item-heading">Comments or Requests:</h5>
		<%= @app.comments %>
	  </li>
	</ul>
	<br>

	<% if @client %>
	<div class="btn btn-warning btn-sm">
      <%= link_to "Edit", edit_client_appointment_path(@app.client_id, @app.id), :class => "btn btn-sm", :id => "edit_app" %>
    </div>
    <div class="btn btn-danger btn-sm">
      <%= link_to "Delete", client_appointment_path(@app.client_id, @app.id), method: :delete, :class => "btn btn-sm", :id => "delete_app" %>
    </div>
  </div>
</div>
<br>

<div class="btn btn-warning btn-sm">
    <%= link_to "Back to Profile", client_path(@app.client_id), :class => "btn btn-sm", :id => "back" %>
</div>
<% else %>
<div class="btn btn-warning btn-sm">
    <%= link_to "Go Back", appointments_path, :class => "btn btn-sm", :id => "back" %>
</div>
<% end %>
</center>