<h1>Here are the appointment details</h1>

Date and Time: <%= @app.date_time.strftime("%A, %b %d, %Y at %l:%M %p") %><br>
Type of Service: <%= @app.service %><br>
Makeup Artist Name: <%= @app.artist.name %><br>
Comments: <%= @app.comments %>
<br><br>
<%= link_to "Edit", edit_client_appointment_path(@app.client_id, @app.id) %> this appointment.
<br><br>
<%= link_to "Delete", client_appointment_path(@app.client_id, @app.id), method: :delete %> this appointment.
