<!-- Navigation Bar -->

<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link active" href="/">Home</a>
      </li>
      <% if logged_in? %>
      <li class="nav-item">
        <div class="nav-link"><%= link_to "Appointments", appointments_path, class: 'link_color' %>
        </div>
      </li>
    <% end %>
    </ul>
  </div>
  <div class="mx-auto order-0">
    <a class="navbar-brand mx-auto" href="/"><img src="/assets/makeupbyyk_logo.png" height="70px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">          
    <% if logged_in? %>
      <li class="nav-item">
        <div class="nav-link"><%= link_to "Sign Out", signout_path, method: :delete, class: 'link_color' %>
        </div>
      </li>
    <% else %>
      <li class="nav-item">
        <a class="nav-link" href="<%= signin_path %>">Sign In</a>
      </li>
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Sign Up
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="<%= new_client_path %>">As Client</a>
          <a class="dropdown-item" href="<%= new_artist_path %>">As Artist</a>
        </div>
      </li>
    <% end %>
    </ul>
  </div>
</nav>